body {
    background-color: darkslateblue;
    color: white;
}

h2 {
    margin: 0 16px 20px 0;
    display: inline-block;
}

input {
    background: transparent;
    color: white;
    font-size: 16px;
    height: 26px;
    padding: 5px 16px;
    border: 2px solid #fff;
    margin-right: 2%;
}
input::placeholder {
    color: #fff;
    opacity: 0.4;
}

.colleagues {
    border: 1px solid #ddd;
    padding: 10px;
}
.colleagues__rows {
    margin-bottom: 20px;
}

.colleagues__row {
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
}
.colleagues__save-btn,
.colleagues__clear-btn {
    background-color: darkorchid;
    color: #fff;
    height: 40px;
    min-width: 100px;
    padding: 0 16px;
    font-size: 16px;
    border: none;
    margin-right: 14px;
}

.colleagues__add-btn {
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    width: 24px;
    border: 2px solid #fff;
}

.colleagues__delete-btn {
    background: transparent;
    border: 2px solid indianred;
    color: indianred;
    font-weight: bold;
}